/**
  PRIMARY INTERACTION
  **/
/**
  SECONDARY INTERACTION
  **/
/**
  SEMANTIC
  **/
/**
  TEXT
  **/
/**
  BORDER
  **/
/**
  NEUTRALS
  **/
/**
  STATUS
  **/
/**
  BACKGROUNDS
  **/
/**
  MENU
  **/
@media (min-width: 992px) {
  :local(.hide-lg) {
    display: none !important;
  }
}

@media (max-width: 991px) {
  :local(.show-lg) {
    display: none !important;
  }
}

:local(.margin-0) {
  margin: 0px !important;
}

:local(.textError) {
  color: #f5325c;
}

:local(.2xs-margin-y) {
  margin-bottom: 4px;
  margin-top: 4px;
}

:local(.2xs-margin-r) {
  margin-right: 4px;
}

:local(.2xs-margin-l) {
  margin-left: 4px;
}

:local(.2xs-margin-bottom) {
  margin-bottom: 4px;
}

:local(.2xs-margin-top) {
  margin-top: 4px;
}

:local(.2xs-padding) {
  padding: 4px;
}

:local(.2xs-wrap-margin) {
  margin-top: -4px;
}

:local(.2xs-wrap-margin) > * {
  margin-top: 4px;
}

:local(.xs-margin-y) {
  margin-bottom: 8px;
  margin-top: 8px;
}

:local(.xs-margin-r) {
  margin-right: 8px;
}

:local(.xs-margin-l) {
  margin-left: 8px;
}

:local(.xs-margin-bottom) {
  margin-bottom: 8px;
}

:local(.xs-margin-top) {
  margin-top: 8px;
}

:local(.xs-padding) {
  padding: 8px;
}

:local(.xs-wrap-margin) {
  margin-top: -8px;
}

:local(.xs-wrap-margin) > * {
  margin-top: 8px;
}

:local(.sm-margin-y) {
  margin-bottom: 12px;
  margin-top: 12px;
}

:local(.sm-margin-r) {
  margin-right: 12px;
}

:local(.sm-margin-l) {
  margin-left: 12px;
}

:local(.sm-margin-bottom) {
  margin-bottom: 12px;
}

:local(.sm-margin-top) {
  margin-top: 12px;
}

:local(.sm-padding) {
  padding: 12px;
}

:local(.sm-wrap-margin) {
  margin-top: -12px;
}

:local(.sm-wrap-margin) > * {
  margin-top: 12px;
}

:local(.md-margin-y) {
  margin-bottom: 16px;
  margin-top: 16px;
}

:local(.md-margin-r) {
  margin-right: 16px;
}

:local(.md-margin-l) {
  margin-left: 16px;
}

:local(.md-margin-bottom) {
  margin-bottom: 16px;
}

:local(.md-margin-top) {
  margin-top: 16px;
}

:local(.md-padding) {
  padding: 16px;
}

:local(.md-wrap-margin) {
  margin-top: -16px;
}

:local(.md-wrap-margin) > * {
  margin-top: 16px;
}

:local(.lg-margin-y) {
  margin-bottom: 20px;
  margin-top: 20px;
}

:local(.lg-margin-r) {
  margin-right: 20px;
}

:local(.lg-margin-l) {
  margin-left: 20px;
}

:local(.lg-margin-bottom) {
  margin-bottom: 20px;
}

:local(.lg-margin-top) {
  margin-top: 20px;
}

:local(.lg-padding) {
  padding: 20px;
}

:local(.lg-wrap-margin) {
  margin-top: -20px;
}

:local(.lg-wrap-margin) > * {
  margin-top: 20px;
}

:local(.xl-margin-y) {
  margin-bottom: 24px;
  margin-top: 24px;
}

:local(.xl-margin-r) {
  margin-right: 24px;
}

:local(.xl-margin-l) {
  margin-left: 24px;
}

:local(.xl-margin-bottom) {
  margin-bottom: 24px;
}

:local(.xl-margin-top) {
  margin-top: 24px;
}

:local(.xl-padding) {
  padding: 24px;
}

:local(.xl-wrap-margin) {
  margin-top: -24px;
}

:local(.xl-wrap-margin) > * {
  margin-top: 24px;
}

:local(.flex-basis-10) {
  flex-basis: 10%;
}

:local(.flex-basis-20) {
  flex-basis: 20%;
}

:local(.flex-basis-30) {
  flex-basis: 30%;
}

:local(.flex-basis-40) {
  flex-basis: 40%;
}

:local(.flex-basis-50) {
  flex-basis: 50%;
}

:local(.flex-basis-60) {
  flex-basis: 60%;
}

:local(.flex-basis-70) {
  flex-basis: 70%;
}

:local(.flex-basis-80) {
  flex-basis: 80%;
}/*# sourceMappingURL=style-utils.css.map */